/* CSS declarations go here */

h1 {
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2, h3 {
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5667px;
}

.chart {
	shape-rendering: crispEdges;
	width:100%;
	border:1px solid #aaa;
	padding:2px;
	margin-top: 5px;
	background-color: #eee;
}

.mini text {
	font: 9px sans-serif;
}

.main text {
	font:16px sans-serif;
	margin-left: 25px;	
}

.miniItem0 {
	fill: darksalmon;
	stroke-width: 6;	
}

.miniItem1 {
	fill: darkolivegreen;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem2 {
	fill: slategray;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem3 {
	fill: lightsteelblue;
	stroke-width: 6;	
}

.miniItem4 {
	fill: lightpink;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem5 {
	fill: mediumturquoise;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem6 {
	fill: lightcoral;
	fill-opacity: .7;
	stroke-width: 6;	
}

.brush .extent {
	stroke: gray;
	fill: dodgerblue;
	fill-opacity: .365;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
.hidden {
	display: none;
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

h1 {
	padding:0px;
	margin:0px;
}

h2 {
	display: inline-block;
	padding:0px;
	margin:0px;
}

input, label {
    display:block;
}

div.score-maker-container, div.event-maker-container{
	border:1px solid #aaa;
	padding:2px;
	margin-top: 5px;
	background-color: #eee;
}