/* CSS declarations go here */
.chart {
	shape-rendering: crispEdges;
	width:100%;
}

.mini text {
	font: 9px sans-serif;
}

.main text {
	font:16px sans-serif;	
}

.miniItem0 {
	fill: darksalmon;
	stroke-width: 6;	
}

.miniItem1 {
	fill: darkolivegreen;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem2 {
	fill: slategray;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem3 {
	fill: lightsteelblue;
	stroke-width: 6;	
}

.miniItem4 {
	fill: lightpink;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem5 {
	fill: mediumturquoise;
	fill-opacity: .7;
	stroke-width: 6;	
}

.miniItem6 {
	fill: lightcoral;
	fill-opacity: .7;
	stroke-width: 6;	
}

.brush .extent {
	stroke: gray;
	fill: dodgerblue;
	fill-opacity: .365;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
.hidden {
	display: none;
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

h1 {
	padding:0px;
	margin:0px;
}

h2 {
	display: inline-block;
	padding:0px;
	margin:0px;
}

input, label {
    display:block;
}