.chart {
	shape-rendering: crispEdges;
	width:100%;
	border:1px solid #aaa;
	margin-top: 5px;
	background-color: #93a1a1;
}

.mini text {
	font: 9px sans-serif;
}

.main text {
	font:16px sans-serif;
	margin-left: 25px;
	font-weight: bold;
}

.main text.nuanceLabel {
	font-family: "Times New Roman", Times, serif;
	font-size:16px;
	font-style: italic;
	font-weight: bold;
}

.miniItem0 {
	stroke-width: 6;	
}

.miniItem1 {
	stroke-width: 6;	
}

.miniItem2 {
	stroke-width: 6;	
}

.miniItem3 {
	stroke-width: 6;	
}

.miniItem4 {
	stroke-width: 6;	
}

.miniItem5 {
	stroke-width: 6;	
}

.miniItem6 {
	stroke-width: 6;	
}

.brush .extent {
	stroke: gray;
	fill: dodgerblue;
	fill-opacity: .365;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
.hidden {
	display: none;
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */


.colorClass0 {
    fill: #2aa198;
}
.colorClass2 {
    fill: #f5871f;
}
.colorClass4 {
    fill: #eab700;
}
.colorClass6 {
    fill: #718c00;
}
.colorClass1 {
    fill: #3e999f;
}
.colorClass3 {
    fill: #4271ae;
}
.colorClass5 {
    fill: #8959a8;
}
.colorClass7 {
	fill: #859900;
}
.selected{
	fill: #FFF;
}


.current_time {
	font-size : 1.640625rem;
}

